{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="bg-[#DAAD86] flex items-center justify-center h-screen">
    <div class="w-full max-w-3xl bg-[#FBEEC1] rounded-lg shadow-lg p-6 parent">
        <h2 class="text-2xl font-semibold text-center text-gray-800 mb-4">Chats({{room}})</h2>
        <hr class="border-gray-300 mb-4">
        <div id="chat-container" class="overflow-y-auto h-[60vh] bg-[#659DBD] rounded-lg p-4">
            <div id="msg-chat"class="space-y-4 message">
                {% for i in messages %}
                    {% if i.sender != user %}
                        <!-- Received Message -->
                        <div class="flex justify-start">
                            <div class="bg-[#DAAD86] p-3 rounded-lg max-w-xs text-gray-900">
                                <p>{{ i.message }}</p>
                                <small class="block mt-1 font-bold">{{ i.sender }}</small>
                            </div>
                        </div>
                    {% else %}
                        <!-- Sent Message -->
                        <div class="flex justify-end">
                            <div class="bg-[#DAAD86] p-3 rounded-lg max-w-xs text-gray-900">
                                <p>{{ i.message }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="mt-4 ">
            <form action="" id="message" method="POST" class="flex items-center space-x-2 ">
                {% csrf_token %}
                <textarea id="msg" rows="1" placeholder="Enter your message" required name="message"
                          class="flex-1 resize-none h-12 p-3 rounded-lg border focus:ring focus:ring-[#DAAD86] focus:border-[#DAAD86]"></textarea>
                <button type="submit" class="bg-[#DAAD86] text-white font-semibold px-4 py-2 rounded-lg hover:bg-[#c29c7a] transition duration-300">
                    Send
                </button>
            </form>
        </div>
    </div>
</body>
<script src="{% static 'main.js' %}"></script>
</html>
